name: 03 Basics Events Filters

on: 
  # pull_request:
  #   types:
  #     - closed

  push:
    branches: main

jobs:
  print-hello-world:
    runs-on: ubuntu-latest
    steps:
      - name: Print Hello Worled
        run: echo "Hello Worled"
